/*------------------------*/
/*--------GÉNÉRALES-------*/
/*------------------------*/

body {
  background-color: #5c48d2;
  font-family: "Fira Sans", sans-serif;
}
.container {
  width: 1024px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
}

p {
  line-height: 30px;
  font-size: 22px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 80px;
  color: #190f33;
  text-align: center;
}
h3 {
  font-size: 24px;
  font-weight: bold;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
/*------------------------*/
/*--------HEADER----------*/
/*------------------------*/
header h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  line-height: 200px;
}
/*----------------------------*/
/*--------NAVIGATION----------*/
/*----------------------------*/
nav {
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
}
nav a {
  text-decoration: none;
  font-size: 22px;
  color: #190f33;
  display: flex;
  flex: 1;
  height: 100px;
  align-items: center;
  justify-content: center;
}
nav a:hover {
  color: #5c48d2;
  cursor: pointer;
}
.comp {
  height: 400px;
  width: 1024px;
  object-fit: cover;
}
/*--------------------------*/
/*--------SECTIONS----------*/
/*--------------------------*/
section {
  padding: 100px;
}
#education,
#contact {
  background-color: #eeeef7;
}
#about-me,
#projects {
  background-color: white;
}
/*-------------------------*/
/*--------ABOUT-ME---------*/
/*-------------------------*/
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 250px;
  height: 275px;
  border-radius: 50%;
  border: #fcc01a solid 3px;
  object-fit: cover;
  margin-right: 80px;
  margin-bottom: 100px;
}
.name {
  font-size: 38px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 50px;
}
.city {
  font-size: 30px;
  color: #190f33;
  font-style: italic;
  margin-left: 100px;
}
#about-me h3 {
  font-size: 26px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 40px;
}
/*---------------------------*/
/*--------EDUCATION----------*/
/*---------------------------*/

.technos {
  display: flex;
  justify-content: space-around;
  /* border: solid 2px red; */
}
.logos {
  height: 100px;
  margin: 85px 0 85px 0;
}
#education p {
  text-align: center;
}
/*--------------------------*/
/*--------PROJECTS----------*/
/*--------------------------*/
.project-main-bloc {
  /* border: solid 2px yellow; */
  display: flex;
  gap: 50px;
  overflow: scroll hidden;
}
.project-main-bloc::-webkit-scrollbar {
  display: none;
}
.project-bloc {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 400px;
  margin-top: 50px;
  /* border: solid 3px red; */
}
.project-bloc img {
  height: 200px;
  width: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}
.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
li {
  font-size: 22px;
  list-style-type: disc;
  line-height: 30px;
}
#projects p {
  text-align: center;
}

/*-------------------------*/
/*--------CONTACT----------*/
/*-------------------------*/
#contact {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-bloc {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
#contact img {
  height: 30px;
  margin-right: 20px;
}
#contact a {
  font-size: 22px;
  text-decoration: none;
  color: #190f33;
}
#contact a:hover {
  color: #5c48d2;
  cursor: pointer;
}
/*------------------------*/
/*--------FOOTER----------*/
/*------------------------*/
footer {
  height: 300px;
  margin-top: 100px;
  height: 200px;
}
footer p {
  color: #c4c4c4;
  line-height: 60px;
  text-align: center;
}
/*----------------------------*/
/*--------RESPONSIVE----------*/
/*----------------------------*/

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 700px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    /* border: solid 3px yellow; */
  }
  p {
    line-height: 30px;
    font-size: 18px;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 80px;
    color: #190f33;
    text-align: center;
  }
  header h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
  }
  nav {
    height: 100px;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    /* border: solid 2px red; */
  }
  nav a {
    text-decoration: none;
    font-size: 20px;
    color: #190f33;
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    /* border: solid 2px orange; */
  }
  .comp {
    height: 200px;
    width: 700px;
    object-fit: cover;
  }
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 2px red; */
  }
  .profile img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: #fcc01a solid 3px;
    object-fit: cover;
    margin-right: 80px;
    margin-bottom: 60px;
  }
  .name {
    font-size: 30px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 40px;
  }
  .city {
    font-size: 26px;
    color: #190f33;
    font-style: italic;
    margin-left: 100px;
  }
  #about-me h3 {
    font-size: 22px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 40px;
  }
  #contact a {
    font-size: 20px;
    text-decoration: none;
    color: #190f33;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 60px;
    color: #190f33;
    text-align: center;
    /* border: solid 2px orange; */
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    line-height: 20px;
    font-size: 14px;
  }
  .container {
    width: 500px;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    /* border: solid 2px yellow; */
  }
  header h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
  }
  nav {
    /* border: solid 2px red; */
    height: 75px;
  }
  nav a {
    text-decoration: none;
    font-size: 16px;
    color: #190f33;
    display: flex;
    flex: 1;
    /* height: 50px; */
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: solid 2px orange; */
  }
  .comp {
    height: 200px;
    width: 500px;
    object-fit: cover;
    /* border: solid 2px purple; */
  }
  section {
    /* border: solid 3px black; */
    padding: 30px;
  }
  .profile {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: solid 2px red; */
    width: 100%;
  }
  .profile img {
    width: 150px;
    height: 175px;
    border-radius: 50%;
    border: #fcc01a solid 3px;
    object-fit: cover;
    /* margin-right: 60px; */
    /* margin-bottom: 100px; */
    /* margin-left: 50px; */
  }
  .resp {
    /* border: solid 2px aqua; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 0px; */
  }
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 0px;
    /* margin-right: 50px; */
    /* border: solid 2px yellow; */
  }
  .city {
    font-size: 18px;
    color: #190f33;
    font-style: italic;
    margin-left: 0px;
  }
  #about-me h3 {
    font-size: 18px;
    font-weight: bold;
    color: #190f33;
    margin-bottom: 20px;
  }

  .technos {
    display: flex;
    justify-content: space-around;
    /* border: solid 2px red; */
  }
  .logos {
    height: 75px;
    margin: 50px 0 50px 0;
  }
  .project-main-bloc {
    /* border: solid 2px yellow; */
    display: flex;
    gap: 30px;
    overflow: scroll hidden;
  }
  .project-main-bloc::-webkit-scrollbar {
    display: none;
  }
  .project-bloc {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 200px;
    margin-top: 50px;
    /* border: solid 3px red; */
  }
  .project-bloc img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  li {
    font-size: 14px;
    list-style-type: disc;
    line-height: 20px;
  }
  #projects p {
    text-align: center;
  }
  .contact-bloc {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    /* border: solid 2px red; */
  }
  #contact img {
    height: 20px;
    margin-right: 20px;
  }
  #contact a {
    font-size: 14px;
    text-decoration: none;
    color: #190f33;
  }
}
